/* .noPadding{
  padding: 0;
}
body{
    background-color:blue;
}
.container{
    background: white;
}

.single-item{
    
    height:350px;
   
    
}
.top{
    background-color: maroon;
    height:200px;
}
.bottom{
    background-color:lightblue;
    height:120px;
}
.item-title{
    color:maroon;
    margin-top:0;
    margin-left: 10px;
    padding-top: 10px;
}
.cutted-price{
    margin-right: 10px;
    color:white;
    font-size: 20px;
}

.discounted-price{
    margin-right: 10px;
    color:maroon;
    font-size: 20px;
} */


* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}