/* .noPadding{
  padding: 0;
}
body{
    background-color:blue;
}
.container{
    background: white;
}

.single-item{
    
    height:350px;
   
    
}
.top{
    background-color: maroon;
    height:200px;
}
.bottom{
    background-color:lightblue;
    height:120px;
}
.item-title{
    color:maroon;
    margin-top:0;
    margin-left: 10px;
    padding-top: 10px;
}
.cutted-price{
    margin-right: 10px;
    color:white;
    font-size: 20px;
}

.discounted-price{
    margin-right: 10px;
    color:maroon;
    font-size: 20px;
} */


* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}




.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  .description
  {
    color: grey;
    font-size: 22px;

  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  #wishlist{
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: rgb(151, 184, 228);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

  }

  .homeCarousel{
      height:300px;
  }
  #productDisplay
  {
      height:300px;
  }
  